<div class="at-theme-light mat-bg-white at-absolute at-wp-100 at-hp-100" fxFlex>
    <img src="assets/img/backgrounds/material/google.svg"
         class="at-wp-100 at-hp-100 at-fixed">

    <div fxFlexFill
         fxLayout="column"
         fxLayoutAlign="center center">
         
        <md-card id="login-form" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
                <img src="assets/img/at-primary-light-icon.svg" style="margin-left: -10px">
                <div class="at-ml-20">
                    <h2 class="at-mt-0">Sign in</h2>
                    <div>to continue EdCerts Wallet</div>
                </div>
            </div>

            <br><br>

            <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f.value)" ngNativeValidate>
            <md-input-container>
                <input  mdInput type="text" id="username" [(ngModel)]="username" name="username"  class="form-control" placeholder="Username" required>
            </md-input-container>
            <br>
            <md-input-container>
                <input  mdInput type="password" id="pass" [(ngModel)]="pass" name="pass"  class="form-control" placeholder="Password" required>
            </md-input-container>
            <!-- <div fxLayout="row" fxLayoutAlign="start center" class="at-mt-10">
                <md-checkbox>Remember Me</md-checkbox>
                <span fxFlex></span>
                <a md-button routerLink="/forgot-pass" class="mat-primary">Forgot Password?</a>
            </div> -->
            <br><br>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button md-raised-button color="primary" type="submit" (click)=login()>Sign In</button>
            </div>
        </form>
            <br><br>
            <div fxLayout="row" fxLayoutAlign="start center">
                <span>Don't have an account? </span>
                <span fxFlex></span>
                <a md-button routerLink="/register" class="mat-primary">Sign Up</a>
            </div>

            

        </md-card>
    

        <!-- <div class="login-footer" fxLayout="row" fxLayoutAlign="start center">
            <md-select [(ngModel)]="selectedValue" name="food">
                <md-option *ngFor="let lang of languages" [value]="lang.value">
                    {{lang.viewValue}}
                </md-option>
            </md-select>
            <span fxFlex></span>
            <span class="mat-small at-mr-20">Help</span>
            <span class="mat-small at-mr-20">Privacy</span>
            <span class="mat-small">Terms</span>
        </div> -->

    </div>
</div>