<at-layout #layoutSimple
           [layoutType]="'simple'"
           scrollOn="container">

    <div at-layout-header color="blue-grey-800" pattern="pattern-1">
        <div class="at-padding-horizontal-40">
            <div class="at-pt-20 at-pr-10">
                <button md-icon-button class="mat-fg-white"
                        atMediaToggle="gt-sm"
                        [mediaAttributes]="{hidden:true}"
                        (click)="layoutSimple.toggleSideBarLeft()">
                    <md-icon>menu</md-icon>
                </button>
            </div>
            <div fxFlex>
                <h1 class="at-mb-5 mat-fg-white">
                    <span>Simple Layout</span>
                </h1>
                <h4 class="at-mb-5 mat-fg-white">Scroll on container, left sidenav</h4>
            </div>
        </div>
    </div>

    <div at-layout-sidebar-left [width]="'220px'">
        <app-layout-sidenav></app-layout-sidenav>
    </div>

    <div at-layout-content>
        <div ngClass="at-p-10" ngClass.gt-sm="at-p-40">
            <app-layout-content></app-layout-content>
        </div>
    </div>

</at-layout>
