<at-dialog>
  <at-dialog-title *ngIf="title">
    {{title}}
  </at-dialog-title>
  <at-dialog-content [style.font-size]="'18px'">
    {{message}}
  </at-dialog-content>
  <at-dialog-actions>
    <button md-button
            #closeBtn 
            (keydown.arrowright)="acceptBtn.focus()"
            (click)="cancel()">{{cancelButton}}</button>
    <button md-button
            color="accent"
            #acceptBtn
            (keydown.arrowleft)="closeBtn.focus()"
            (click)="accept()">{{acceptButton}}</button>
  </at-dialog-actions>
</at-dialog>