<md-toolbar [color]="activeSettings.toolbar.color.color"
            class="at-main-toolbar {{'mat-elevation-' + activeSettings.toolbar.elevation}} {{activeSettings.toolbar.color.className}}">
    <div fxHide="false" fxHide.gt-sm>
        <button (click)="layoutRef.toggleSideNav()" md-icon-button>
            <md-icon>menu</md-icon>
        </button>
    </div>

    <!-- <ng-container
            *ngIf="activeSettings.sidenav.headerType !== 'toolbar' && activeSettings.sidenav.headerTypeMix !== 'brand'">
        <img src="assets/img/at-light-icon.svg" class="at-hp-80 at-ml-15">
        <h5 class="at-mr-15">Student Wallet</h5>
    </ng-container> -->

<!-- 
    <at-favorites *ngIf="activeSettings.toolbar.showFavorites"
                  [avFavorites]="['/dashboards']"
                  (avFavoritesChange)="onAtFavoritesChange($event)" class="at-ml-10"
                  fxHide="true"
                  fxHide.gt-sm="false"></at-favorites> -->
                  <h3 class="at-tz-xl">Approved Applications</h3>

    <!-- <at-breadcrumbs *ngIf="activeSettings.toolbar.showBreadcrumbs"
                    fxHide="true"
                    fxHide.gt-sm="false"></at-breadcrumbs> -->


    <!-- <at-search-box backIcon="arrow_back"
                   placeholder="Search here"
                   fxFlex
                   fxHide="true"
                   fxHide.gt-sm="false"></at-search-box> -->
    <span fxFlex fxHide="false"
          fxHide.gt-sm="true"></span>

    <!-- <button md-icon-button [mdMenuTriggerFor]="notificationsMenu" fxHide="true"
            fxHide.gt-sm="false">
        <at-notification-count color="accent" [notifications]="101">
            <md-icon>notifications</md-icon>
        </at-notification-count>
    </button> -->
    <md-menu #notificationsMenu="mdMenu" [overlapTrigger]="false">
        <div>
            <div fxLayout="row" fxLayoutAlign="center center"
                 class="at-pt-10 at-pb-15 mat-fg">Notifications
            </div>
            <md-divider></md-divider>
            <md-nav-list dense>
                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                    <a md-list-item>
                        <at-icon md-list-avatar name="today" backgroundType="solid"></at-icon>
                        <!--<md-icon md-list-avatar>today</md-icon>-->
                        <h4 md-line><span class="text-wrap">A user did an activity on an item that you've subscribed to
                            follow actions on.</span>
                        </h4>
                        <p md-line>22 minutes ago</p>
                    </a>
                    <md-divider></md-divider>
                </ng-template>
            </md-nav-list>
            <div fxLayout="row" fxLayoutAlign="center center"
                 class="at-pb-10 at-pt-15">
                <button md-button color="accent">
                    See All Notifications
                </button>
            </div>

        </div>
    </md-menu>

    <div  class="user-button-container at-xl-12" #userButton>
        <button  class="user-button" md-button [mdMenuTriggerFor]="menu">
            <div fxLayout="row" fxLayoutAlign="start center">
                <at-icon class="at-display-block" backgroundColor="purple" backgroundType="border"
                size="40px" fontSize="30px">
           person_add
       </at-icon>
                <span class="name" fxHide="true" fxHide.gt-sm="false"></span>
                <md-icon>keyboard_arrow_down</md-icon>
            </div>
        </button>
    </div>

    <!-- <button class="at-mr-20 at-ml-15" md-icon-button md-tooltip="Customize"
            (click)="layoutRef.toggleSidePanel()">
        <md-icon>settings</md-icon>
    </button> -->
</md-toolbar>

<md-menu class="user-menu" yPosition="below" [overlapTrigger]="false" #menu="mdMenu">
    <div class="user-menu-inner" [style.min-width]="userButtonWidth">
        <button md-menu-item>
            <md-icon>account_circle</md-icon>
            <span>Profile</span>
        </button>
        <md-divider></md-divider>
        <button md-menu-item (click)=logout()>
         <md-icon>exit_to_app</md-icon>
       <span> Logout </span>
        </button>
    </div>
</md-menu>
