<at-scrollbar class="at-hp-100">
    <div ngClass="at-p-5" ngClass.gt-sm="at-p-40">
        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Width Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-width-[5x]<br>.at-w-[5x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set width="[5x]px" style to an element. Were x goes
                        from 0 to 20</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-width-0"></div>
                            <div class="at-w-5"></div>
                            <div class="at-width-10"></div>
                            ...
                            <div class="at-w-100"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-width-[8x]<br>.at-w-[8x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set width="[8x]px" style to an element. Were x goes
                        from 1 to 12</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-width-8"></div>
                            <div class="at-w-16"></div>
                            <div class="at-width-24"></div>
                            ...
                            <div class="at-w-96"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-width-percent-[5x]<br>.at-wp-[5x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set width="[5x]%" style to an element. Were x goes
                        from 0 to 20</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-width-percent-0"></div>
                            <div class="at-wp-5"></div>
                            <div class="at-width-percent-10"></div>
                            ...
                            <div class="at-wp-100"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <br><br>

        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Height Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-height-[5x]<br>.at-h-[5x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set height="[5x]px" style to an element. Were x goes
                        from 0 to 20</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-height-0"></div>
                            <div class="at-h-5"></div>
                            <div class="at-height-10"></div>
                            ...
                            <div class="at-h-100"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-height-[8x]<br>.at-h-[8x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set height="[8x]px" style to an element. Were x goes
                        from 1 to 12</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-height-8"></div>
                            <div class="at-h-16"></div>
                            <div class="at-height-24"></div>
                            ...
                            <div class="at-h-96"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-height-percent-[5x]<br>.at-hp-[5x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set height="[5x]%" style to an element. Were x goes
                        from 0 to 20</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-height-percent-0"></div>
                            <div class="at-hp-5"></div>
                            <div class="at-height-percent-10"></div>
                            ...
                            <div class="at-hp-100"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <br><br>
    </div>
</at-scrollbar>