<at-scrollbar class="at-hp-100">
    <div ngClass="at-p-5" ngClass.gt-sm="at-p-40">
        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Overflow Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-overflow-hidden<br>.at-oh</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Force to set overflow="hidden" style to an element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-overflow-hidden"></div>
                            <div class="at-oh"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-overflow-auto<br>.at-oa</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Force to set overflow="auto" style to an element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-overflow-auto"></div>
                            <div class="at-oa"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-overflow-x <br>.at-ox</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Force to set overflow-x="auto" style to an element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-overflow-x"></div>
                            <div class="at-ox"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-overflow-y <br>.at-oy</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Force to set overflow-y="auto" style to an element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-overflow-y"></div>
                            <div class="at-oy"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <br><br>

        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Display Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-display-block<br>.at-d-b</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set display="block" style to an element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-display-block"></div>
                            <div class="at-d-b"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-inline-block<br>.at-d-ib</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set display="inline-block" style to an element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-inline-block"></div>
                            <div class="at-d-ib"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-display-inline<br>.at-d-i</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set display="inline" style to an element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-display-inline"></div>
                            <div class="at-d-i"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <br><br>

        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Position Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-relative</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set position="relative" style to an
                        element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-relative"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-fixed</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set position="fixed" style to an
                        element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-fixed"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-absolute</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set position="absolute" style to an
                        element</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-absolute"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <br><br>
        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Z-Index Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-z-index-[x]<br>.at-z-[x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set z-index="x" style to an element.
                        Where x goes
                        from 1 to
                        10.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-z-index-3"></div>
                            <div class="at-z-5"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</at-scrollbar>