<at-scrollbar class="at-hp-100">
    <div ngClass="at-p-5" ngClass.gt-sm="at-p-40">
        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Alignment Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-center<br>.at-text-center<br>.at-tc</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set text-align="center" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-center"></div>
                            <div class="at-text-center"></div>
                            <div class="at-tc"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-left<br>.at-text-left<br>.at-tl</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set text-align="left" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-left"></div>
                            <div class="at-text-left"></div>
                            <div class="at-tl"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-right<br>.at-text-right<br>.at-tr</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set text-align="right" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-right"></div>
                            <div class="at-text-right"></div>
                            <div class="at-tr"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <br><br>

        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Size & Weight Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-text-size-[2x]<br>.at-tz-[2x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-size="[2x]px" style to an element. Were x
                        goes
                        from 5 to 10</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-text-size-10"></div>
                            <div class="at-tz-12"></div>
                            <div class="at-text-size-14"></div>
                            <div class="at-tz-16"></div>
                            <div class="at-text-size-18"></div>
                            <div class="at-tz-20"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-text-size-[5x]<br>.at-tz-[5x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-size="[5x]px" style to an element. Were x
                        goes
                        from 5 to 20</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-text-size-25"></div>
                            <div class="at-tz-30"></div>
                            <div class="at-text-size-35"></div>
                            <div class="at-tz-16"></div>
                            <div class="at-text-size-40"></div>
                            ...
                            <div class="at-tz-100"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-xs<br>.at-text-xs<br>.at-tz-xs</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-size="50%" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-xs"></div>
                            <div class="at-text-xs"></div>
                            <div class="at-tz-sm"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-sm<br>.at-text-sm<br>.at-tz-sm</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-size="70%" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-sm"></div>
                            <div class="at-text-sm"></div>
                            <div class="at-tz-sm"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-md<br>.at-text-md<br>.at-tz-md</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-size="80%" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-md"></div>
                            <div class="at-text-md"></div>
                            <div class="at-tz-md"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-lg<br>.at-text-lg<br>.at-tz-lg</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-size="110%" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-lg"></div>
                            <div class="at-text-lg"></div>
                            <div class="at-tz-lg"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-xl<br>.at-text-xl<br>.at-tz-xl</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-size="120%" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-xl"></div>
                            <div class="at-text-xl"></div>
                            <div class="at-tz-xl"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-xxl<br>.at-text-xxl<br>.at-tz-xxl</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-size="130%" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-xxl"></div>
                            <div class="at-text-xxl"></div>
                            <div class="at-tz-xxl"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.at-text-weight-[x]<br>.at-tw-[x]</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set font-weight="x" style to an element.
                        Where x goes from 100 to 900, step 100</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="at-text-weight-100"></div>
                            ...
                            <div class=".at-tw-900"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <br><br>

        <md-card class="at-p-0">
            <md-toolbar color="primary">
                <h4 fxFlex>Transformations Helpers</h4>
            </md-toolbar>
            <md-card-content class="at-p-20" fxLayout="column">
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-upper<br>.at-text-upper<br>.at-tuc</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set text-transform="uppercase" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-upper"></div>
                            <div class="at-text-upper"></div>
                            <div class="at-tuc"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-upper<br>.at-text-upper<br>.at-tuc</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set text-transform="lowercase" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-lower"></div>
                            <div class="at-text-lower"></div>
                            <div class="at-tlc"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
                <md-divider class="at-mb-20"></md-divider>

                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center">
                    <h3 fxFlex.gt-xs="20" class="at-p-20">
                        <code>.text-caps<br>.at-text-caps<br>.at-tcp</code>
                    </h3>
                    <p fxFlex.gt-xs="40" class="at-tz-xl at-p-20">Set text-transform="capitalize" style to an element.</p>
                    <div fxFlex.gt-xs="40">
                        <td-highlight lang="html">
                            <![CDATA[
                            <div class="text-caps"></div>
                            <div class="at-text-caps"></div>
                            <div class="at-tcp"></div>
                            ]]>
                        </td-highlight>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <br><br>
    </div>
</at-scrollbar>