
<at-layout [layoutType]="'simple'"
scrollOn="container">

<div at-layout-header [height]="100">
 <div class="at-padding-horizontal-40">
     <h1 class="at-mb-5" fxLayout="row" fxLayoutAlign="start space-around"></h1>
   <h4 class="at-mb-5">Enrollment ID</h4>
</div>
</div>

<div at-layout-content [ngClass.gt-sm]="'at-p-30'" class="at-hp-100">
<section fxLayout="column" class="at-mt-5">
<div class="at-ph-10">
   <md-card fxFlex class="card-widget">
       <md-card-content fxLayout="row" fxLayoutWrap>
           <div class="at-p-15" fxFlex="50" fxFlex.gt-xs="33" fxFlex.gt-sm="25" fxLayout="column"
                fxLayoutAlign="center center">
                <!-- <label>Student Card Id</label> -->
               <h2 class="mat-display-2 mat-fg-light-blue-500 at-mb-3">ebubjcndior5n33kmk3k2mkm23kn35n21qwplm</h2>
               
           </div>
          
       </md-card-content>
   </md-card>
</div>
</section>
</div>

</at-layout>