
<at-layout [layoutType]="'simple'"
scrollOn="container">

<div at-layout-header [height]="100">
 <div class="at-padding-horizontal-40">
     <h1 class="at-mb-5" fxLayout="row" fxLayoutAlign="start space-around"></h1>
   <h4 class="at-mb-5">Enrollment ID</h4>
</div>
</div>

<div at-layout-content [ngClass.gt-sm]="'at-p-33'" class="at-hp-120">

<div class="at-ph-8">
   <md-card fxFlex class="card-widget">
       <md-card-content fxLayout="row" fxLayoutWrap>
           <div class="at-p-15" fxFlex="50" fxFlex.gt-xs="33" fxFlex.gt-sm="25" fxLayout="column"
                fxLayoutAlign="center center">
                <!-- <label>Student Card Id</label> -->
               <h3 >ebubjcndior5n33kmk3k2mkm23kn35n21qwplm</h3>
               
           </div>
          
       </md-card-content>
   </md-card>
</div>


<div class="row">
<div  class="at-ph-12">
                <button md-raised-button color="primary"  (click)="onSubmit(obaid)">Post into Bitcoin Blockchain</button>
</div>


</div>

</div>

 
     

</at-layout>