<at-layout #dashboardLayout
           [layoutType]="'simple'"
           scrollOn="container">

    <div at-layout-header [height]="100">
        <div class="at-padding-horizontal-40">
            <h1 class="at-mb-5" fxLayout="row" fxLayoutAlign="start space-around">
                <!-- <span fxFlex>Dashboard</span> -->
                <!-- <button md-icon-button
                        [atMediaToggle]="'gt-lg'"
                        [mediaAttributes]="{hidden:true}"
                        (click)="toggleSidenav(true)">
                    <md-icon>format_indent_decrease</md-icon>
                </button> -->
            </h1>
            <!-- <h4 class="at-mb-5">Welcome to Your Wallet</h4> -->
        </div>
    </div>

    <!-- <div at-layout-sidebar-right
         [width]="'270px'"
         [mode]="isMediumScreen ? 'over' : 'side'"
         [opened]="snOpened"
         class="at-hp-100"
         [showAtScrollbar]="false"
         (onClose)="toggleSidenav($event)">
        <div class="at-hp-100 at-oh at-bg-accent" fxLayout="column">
            <at-scrollbar fxLayout="column">
                <div class="at-p-20">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <label class="at-mr-10">Current Plan PRO</label>
                        <button md-button color="primary">Upgrade</button>
                    </div>
                    <h1 class="mat-fg-primary mat-display-2 at-mb-0 at-mt-20">$110</h1>
                    <label class="text-md at-mb-10">Current balance</label>
                    <md-progress-bar
                            class="at-mt-10 at-mb-5"
                            color="primary"
                            mode="determinate"
                            [value]="70">
                    </md-progress-bar>
                    <div class="at-mt-5" fxLayout="row" fxLayoutAlign="start start">
                        <span fxFlex></span>
                        <label class="text-md at-mb-10">$180</label>
                        <md-icon style="margin-right: -10px; margin-top: -5px;">arrow_drop_up</md-icon>
                    </div>
                </div>
                <md-divider></md-divider>
                <div class="at-p-20">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <label class="at-mr-10">Plan Info</label>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <h2 class="at-mb-10 mat-fg-primary">$90.00 / month</h2>
                        <label>30 Users. 30,000 mails.</label>
                        <button class="at-mt-30" md-button color="primary">Upgrade</button>
                    </div>
                </div>
                <md-divider></md-divider>
                <div class="at-p-20">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <label class="at-mr-10 at-mb-20">Activity</label>
                    </div>
                    <div fxLayoutAlign="start start">
                        <md-icon class="mat-fg-grey-500 at-mr-10 at-tz-12 at-mt-5">lens</md-icon>
                        <div fxFlex fxLayout="column">
                            <div class="at-tz-20 at-mb-10 at-tw-500">09/27/2017</div>
                            <label>35 Emails sent</label>
                            <small class="at-mb-10">4 hours ago</small>
                            <md-divider></md-divider>
                            <label class="at-mt-10">1 new contact added</label>
                            <small class="at-mb-10">7 hours ago</small>
                            <md-divider></md-divider>
                            <label class="at-mt-10">New Goal reached</label>
                            <small class="at-mb-10">8 hours ago</small>
                            <md-divider></md-divider>
                        </div>
                    </div>

                    <div fxLayoutAlign="start start" class="at-mt-20">
                        <md-icon class="mat-fg-grey-500 at-mr-10 at-tz-12 at-mt-5">lens</md-icon>
                        <div fxFlex fxLayout="column">
                            <div class="at-tz-20 at-mb-10 at-tw-500">09/26/2017</div>
                            <label>35 Emails sent</label>
                            <small class="at-mb-10">10:23 PM</small>
                            <md-divider></md-divider>
                            <label class="at-mt-10">1 new contact added</label>
                            <small class="at-mb-10">11:03 PM</small>
                            <md-divider></md-divider>
                        </div>
                    </div>

                    <div fxLayoutAlign="start start" class="at-mt-20">
                        <md-icon class="mat-fg-grey-500 at-mr-10 at-tz-12 at-mt-5">lens</md-icon>
                        <div fxFlex fxLayout="column">
                            <div class="at-tz-20 at-mb-10 at-tw-500">09/25/2017</div>
                            <label>35 Emails sent</label>
                            <small class="at-mb-10">8:56 AM</small>
                            <md-divider></md-divider>
                            <label class="at-mt-10">1 new contact added</label>
                            <small class="at-mb-10">5:13 PM</small>
                            <md-divider></md-divider>
                            <label class="at-mt-10">1 new contact added</label>
                            <small class="at-mb-10">6:12 PM</small>
                            <md-divider></md-divider>
                        </div>
                    </div>
                </div>
            </at-scrollbar>
        </div>
    </div> -->

    <div at-layout-content [ngClass.gt-sm]="'at-p-40'" class="at-hp-100">

            <section fxLayout="column" class="at-mt-20">
                    <div class="at-ph-10">
                        <md-card fxFlex class="card-widget">
                                <md-card-title class="at-tz-xl">Wallet Address</md-card-title>
                                <md-card-content fxLayout="row" fxLayoutWrap>
                                    <div class="at-p-15" fxFlex="50" fxFlex.gt-xs="33" fxFlex.gt-sm="25" fxLayout="column"
                                         fxLayoutAlign="center center">
                                        
                                        <h3 >qa3sx1dc34tg5ij7mn654mn3pok859jhgemn52nbv2</h3>
                                        
                                    </div>
                                   
                                </md-card-content>
                            </md-card>
                    </div>
                </section>
<br>
        <section fxLayout="row" fxLayoutWrap>
            <div fxFlex="100" fxFlex.gt-md="38" fxFlex.gt-lg="45" class="at-ph-10">
                <md-card fxFlex class="card-widget">
                    <md-card-title class="at-tz-xl">Aproved Applications</md-card-title>
                    <md-card-content fxLayout="column" fxLayout.gt-sm="row">
                        <div fxFlex class="at-h-230" ngClass.="" fxLayout="row" fxLayoutAlign="center center">
                            <ngx-charts-gauge
                                    [view]="view"
                                    [scheme]="colorScheme"
                                    [results]="dashboardData.emailsSent"
                                    [min]="0"
                                    [max]="100"
                                    [valueFormatting]="getPercent"
                                    [angleSpan]="360"
                                    [startAngle]="0"
                                    [showAxis]="false"
                                    [units]="'Approved'">
                            </ngx-charts-gauge>
                        </div>
                        <div fxFlex>
                            <div fxLayout="column">
                                <div fxLayoutAlign="start center">
                                    <md-icon class="mat-fg-purple at-mr-10">lens</md-icon>
                                    <label>9 approved </label>
                                </div>
                                <!-- <div fxLayoutAlign="start center">
                                    <md-icon class="mat-fg-grey-600 at-mr-10">lens</md-icon>
                                    <label>89 Unopened</label>
                                </div> -->
                                <!-- <br>
                                <md-divider></md-divider>
                                <br> -->
                                <!-- <label>900 Sent emails in total</label> -->
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div fxFlex="100" class="at-pr-10" ngClass="at-mt-20" ngClass.gt-md="at-mt-0" fxFlex.gt-md="62"
                 fxFlex.gt-lg="55"
                 fxLayout="row" fxLayoutWrap>
                 <div ngClass.xs="at-pt-20 at-pl-10" ngClass.gt-xs="at-pt-20 at-pl-20" fxFlex.gt-xs="50" fxFlex="100">
                    <md-card class="card-widget" fxLayout="row" fxLayoutAlign="start center">
                        <div class="at-p-20">
                            <at-icon backgroundColor="green" backgroundType="border" size="60px" fontSize="30px">
                                receipt
                            </at-icon>
                        </div>
                        <div>
                            <h2 class="mat-display-2 at-mb-10 at-tw-300 mat-fg-grey-800">12</h2>
                            <label class="mat-fg-grey-600">Total Applications</label>
                        </div>
                    </md-card>
                </div>
               
                
                
                <div class="at-pl-10 at-pt-20" fxFlex.gt-xs="50" fxFlex="100">
                    <md-card class="card-widget" fxLayout="row" fxLayoutAlign="start center">
                        <div class="at-p-20">
                            <at-icon backgroundColor="blue"
                                     backgroundType="border" size="60px" fontSize="30px">
                    access_time
                            </at-icon>
                        </div>
                        <div>
                            <!-- <h5 class="mat-display-2 at-mb-100 at-tw-30 mat-fg-grey-800">Last Login </h5> -->

                            <label class="mat-fg-black-600" style= "font-size: 20px;">Sun , 3:37 pm 14/01/17</label>
                            <br>
                            <label class="mat-fg-grey-600">Login Last</label>

                        </div>
                    </md-card>
                </div>
                
            </div>
           
        </section>

       

        


        <section fxLayout="row" fxLayoutWrap class="at-mt-20">
            <div fxFlex="100" fxFlex.gt-md="50" class="at-ph-10">
                <md-card fxFlex class="card-widget">
                    <md-card-title>
                        <h4 class="at-tw-400">Announcements</h4>
                        <span fxFlex></span>
                        <span class="badge badge-primary">4</span>
                       
                    </md-card-title>
                    <md-card-content>
                        <at-scrollbar>
                            <div class="at-show-elms-on-hover at-p-15" md-list-item
                                 *ngFor="let deal of dashboardData.deals.data">
                                <div fxLayout="column">
                                    <h4 class="at-mb-5 at-tw-400">{{deal.name}}</h4>
                                    <small md-line class="mat-fg-grey" fxLayoutAlign="start center">
                                        <md-icon class="at-mr-5">event</md-icon>
                                        <span>{{deal.date}}</span>
                                    </small>
                                </div>
                                <div fxFlex class="at-ph-25" fxLayout="row" fxLayoutAlign="start center">
                                    <ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="deal.contacts">
                                        <img class="avatar-flex at-mh-5" *ngIf="dashboardData.contacts.data[item].img"
                                             [src]="dashboardData.contacts.data[item].img"
                                             [md-tooltip]="dashboardData.contacts.data[item].name"/>
                                        <at-icon class="at-mh-5" *ngIf="!dashboardData.contacts.data[item].img"
                                                 [name]="dashboardData.contacts.data[item].name" type="letter"
                                                 [md-tooltip]="dashboardData.contacts.data[item].name"
                                                 backgroundType="solid" size="40px" fontSize="20px"></at-icon>
                                    </ng-template>
                                </div>
                                <button md-icon-button class="at-show-on-hover">
                                    <md-icon class="mat-fg-grey" md-tooltip="Edit">edit</md-icon>
                                </button>
                                <button md-icon-button class="at-show-on-hover">
                                    <md-icon class="mat-fg-grey" md-tooltip="Done">done</md-icon>
                                </button>
                            </div>
                        </at-scrollbar>
                    </md-card-content>
                </md-card>
            </div>
            <!-- <div fxFlex="100" fxFlex.gt-md="50" ngClass="at-mt-20" ngClass.gt-md="at-mt-0" class="at-ph-10">
                <md-card fxFlex class="card-widget">
                    <md-card-title>
                        <h4 class="at-tw-400">My contacts</h4>
                        <span fxFlex></span>
                        <button md-icon-button>
                            <md-icon class="mat-fg-grey-500">more_vert</md-icon>
                        </button>
                    </md-card-title>
                    <md-card-content>
                        <at-scrollbar>
                            <md-nav-list>
                                <a class="at-show-elms-on-hover" md-list-item
                                   *ngFor="let contact of dashboardData.contacts.data">
                                    <img *ngIf="contact.img" md-list-avatar [src]="contact.img"/>
                                    <at-icon *ngIf="!contact.img" md-list-avatar
                                             [name]="contact.name" type="letter"
                                             backgroundType="solid" size="40px" fontSize="20px"></at-icon>
                                    <h3 md-line>{{contact.name}}</h3>
                                    <small md-line class="mat-fg-grey">{{contact.email}}</small>
                                    <md-icon class="mat-fg-grey at-show-on-hover" md-tooltip="Edit">edit</md-icon>
                                </a>
                            </md-nav-list>
                        </at-scrollbar>
                    </md-card-content>
                </md-card>
            </div> -->
        </section>
    </div>

</at-layout>