
#login-form {
  width: 100%;
  transition: all .2s;

  padding: 48px 40px 36px;
  height: auto;
  min-height: 100%;

  h2 {
    font-weight: 400;
    margin-bottom: 2px;
  }
}

.login-footer {
  transition: all .2s;
  width: 100%;
  padding: 0 40px;
  position: absolute;
  bottom: 20px;
  .mat-select {
    width: 140px;
  }
  .mat-select-underline {
    display: none;
  }
  .mat-select-value-text {
    font-size: 12px;
  }
}

@media (min-width: 450px) {
  #login-form {
    padding: 48px 40px 36px;
    height: auto;
    min-height: 100%;
  }

  .login-footer {
    width: 100%;
    padding: 0 40px;
    position: absolute;
    bottom: 20px;
  }
}

@media (min-width: 601px) {
  #login-form {
    height: auto;
    min-height: 500px;
    overflow-y: auto;
    width: 450px;
  }

  .login-footer {
    margin-top: 40px;
    padding: 0;
    position: relative;
    width: 450px;
  }
}

