<div class="at-step-header"
     [class.mat-disabled]="disabled"
     md-ripple
     [mdRippleDisabled]="disabled || disableRipple"
     [tabIndex]="disabled ? -1 : 0"
     fxFlex>
    <div class="at-step-header-content"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxFlex>
        <div class="at-circle"
             [class.mat-inactive]="(!active && !isComplete()) || disabled"
             [class.mat-active]="active && !disabled"
             *ngIf="!isRequired() && !isComplete()">
            <span *ngIf="(active || !isComplete())">{{number || ''}}</span>
        </div>
        <div class="at-complete" *ngIf="isComplete()">
            <md-icon class="mat-complete">check_circle</md-icon>
        </div>
        <div class="at-triangle"
             [class.bg-muted]="disabled"
             *ngIf="isRequired()">
            <md-icon class="mat-warn">warning</md-icon>
        </div>
        <div class="at-step-label-wrapper"
             [class.mat-inactive]="(!active && !isComplete()) || disabled"
             [class.mat-warn]="isRequired() && !disabled">
            <div class="md-body-2 at-step-label">
                <ng-content select="[at-step-header-label]"></ng-content>
            </div>
            <div class="md-caption at-step-sublabel">
                <ng-content select="[at-step-header-sublabel]"></ng-content>
            </div>
        </div>
        <span fxFlex></span>
        <md-icon class="at-edit-icon" *ngIf="isComplete() && !active && !disabled">mode_edit</md-icon>
    </div>
</div>