<div class="at-theme-light mat-bg-white at-absolute at-wp-100 at-hp-100" fxFlex>
    <img src="assets/img/backgrounds/material/google.svg"
         class="at-wp-100 at-hp-100 at-fixed">

    <div fxFlexFill
         fxLayout="column"
         fxLayoutAlign="center center">

        <md-card id="login-form" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img src="assets/img/at-primary-light-icon.svg" class="at-h-100">

            </div>

            <h2 class="at-tc">Recover Password</h2>

            <br><br>
            <md-input-container>
                <input type="email" mdInput placeholder="Email">
            </md-input-container>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button md-raised-button color="primary">Reset</button>
            </div>
            <br><br><br>
            <div fxLayout="row" fxLayoutAlign="center center">
                <a md-button routerLink="/pages/login" class="mat-primary">Go to login</a>
            </div>
        </md-card>

        <div class="login-footer" fxLayout="row" fxLayoutAlign="start center">
            <md-select [(ngModel)]="selectedValue" name="food">
                <md-option *ngFor="let lang of languages" [value]="lang.value">
                    {{lang.viewValue}}
                </md-option>
            </md-select>
            <span fxFlex></span>
            <span class="mat-small at-mr-20">Help</span>
            <span class="mat-small at-mr-20">Privacy</span>
            <span class="mat-small">Terms</span>
        </div>

    </div>
</div>